.infoTooltip__message {
  color: black;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 23.78px;
  margin-bottom: 24px;
  text-decoration: none;
  text-align: center;
}