.auth-form__header {
  margin: 0;
  flex-flow: column;
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .auth-form__header {
    width: 396px;
    margin-top: 174px;
    align-items: flex-start;
  }
}

@media only screen and (min-width: 1280px) {
  .auth-form__header {
    margin-top: 14px;
  }
}
