.profile__button_logout {
  color: rgba(238, 52, 101, 1);
}

@media only screen and (min-width: 768px) {
  .profile__button_logout {
    font-size: 13px;
    line-height: 15.73px;
  }
  
  .profile__button_logout:nth-child(2n) {
    margin-bottom: 340px;
  }
}