.profile__input {
  background-color: rgba(32, 32, 32, 1);
  color: white;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13.31px;
  text-align: center;
  border: none;
  text-align: right;
}

.profile__input:focus {
  background-color: #26354d;
}

.profile__input::placeholder {
  color: white;
  opacity: 1;
}