.header__profile-container {
  margin: 0 auto 0 30px;
  width: 100px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #202020;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 40px;
}