.about-me__contacts {
  margin: 0px 26px 0px 0px;
  color: white;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  text-align: left;
  text-decoration: none;
}