.navigation {
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(32, 32, 32, 0.8);
  position: fixed;
  z-index: 5;
  display: inline-flex;
  transition: visibility .5s, opacity .5s linear;
}

.navigation_visible {
  visibility: visible;
}

/* List */
@import url(./__list/navigation__list.css);

/* Link */
@import url(./__link/navigation__link.css);

/* Link-active */
@import url(./__link/_state/navigation__link_active.css);

/* Account-block */
@import url(./__account-block/navigation__account-block.css);

/* Account-link */
@import url(./__account-link/navigation__account-link.css);

/* Account-logo */
@import url(./__account-logo/navigation__account-logo.css);

/* Wrapper */
@import url(./__wrapper/navigation__wrapper.css);

/* Button-close */
@import url(./__button-close/navigation__button-close.css);